.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px #ccc;
  padding: 16px;
  margin: 16px;
  width: 600px;
  
}

.card-content{
  max-height: 500px;
  overflow-y: scroll;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

